.u-section-1 .u-sheet-1 {
  min-height: 1611px;
}

.u-section-1 .u-image-1 {
  width: 64px;
  height: 64px;
  background-image: url("images/73926d9fd861d1c005e7cfb006830a64.png");
  background-position: 50% 50%;
  margin: 41px auto 0 41px;
}

.u-section-1 .u-text-1 {
  margin: -64px auto 0 125px;
}

.u-section-1 .u-text-2 {
  margin: 7px auto 0 125px;
}

.u-section-1 .u-image-2 {
  width: 64px;
  height: 64px;
  background-image: url("images/230df669a80dfd39c8977204de44e790.png");
  background-position: 50% 50%;
  margin: 42px auto 0 41px;
}

.u-section-1 .u-text-3 {
  margin: -64px auto 0 125px;
}

.u-section-1 .u-text-4 {
  margin: 7px auto 0 125px;
}

.u-section-1 .u-image-3 {
  width: 64px;
  height: 64px;
  background-image: url("images/687f83ad732af396016bfada60f26633.png");
  background-position: 50% 50%;
  margin: 42px auto 0 42px;
}

.u-section-1 .u-text-5 {
  margin: -64px auto 0 125px;
}

.u-section-1 .u-text-6 {
  margin: 7px auto 60px 125px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 79px;
  }
}